main#app.item-content
  = item_add_form

  h2 Study Items

  ul#items.items
    list-item{
      v-for="item in items"
      :key="item.id"
      :item="item"
    }

  item-edit-modal{
    :item="edit_modal.item"
    :is_open="edit_modal.open"
  }
