@import 'kazekura';

.item-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.item-form {
  margin: 3rem 0;

  button {
    display: inline-block;
  }
}

.item-edit-form,
.item-form {
  input[type="text"] {
    @include input;
  }

  button {
    @include button;
  }
}

.item-edit-form {
  display: flex;
  flex-direction: column;

  input[type="text"] {
    margin-bottom: 1rem;
  }

  button[type="submit"] {
    margin-top: 2rem;
  }
}

.item-edit-modal.ui.modal {
  @include modal;
}

.btn {
  @include button;
  margin-top: 1rem;
}

.items {
  @include section;
  @include list;

  width: 80vw;

  .item {
    display: grid;
    grid: {
      column-gap: 0.5em;
      template: {
        areas: 'reading meaning type buttons';
        columns: 1fr 1fr auto auto;
      }
    }
    background-color: transparent;
    padding: 0.3em;
  }

  .item-link {
    color: inherit;
    text-decoration: none;
  }

  .reading {
    grid-area: reading;
  }

  .meaning {
    grid-area: meaning;
  }

  .type {
    grid-area: type;
  }

  .item-buttons {
    grid-area: buttons;
    justify-self: end;
  }

  .btn-delete-item {
    background: none;
    border: 0;

    &:hover {
      color: $danger-red;
    }
  }
}

