// color palette
$paper-white:      rgb(252, 252, 252); // #fcfcfc
$iron-grey:        rgb(77, 77, 77);    // #4d4d4d
$charcoal-grey:    rgb(49, 54, 59);    // #31363b
$shade-black:      rgb(35, 38, 41);    // #232629
$plasma-blue:      rgb(61, 174, 233);  // #3daee9
$icon-red:         rgb(218, 68, 83);   // #da4453
$danger-red:       rgb(237, 21, 21);   // #ed1515
$icon-orange:      rgb(244, 119, 80);  // #f47750
$beware-orange:    rgb(246, 116, 0);   // #f67400
$icon-yellow:      rgb(253, 188, 75);  // #fdbc4b
$sunbeam-yellow:   rgb(201, 206, 59);  // #c9ce3b
$mellow-turquoise: rgb(28, 220, 154);  // #1cdc9a
$icon-green:       rgb(46, 204, 113);  // #2ecc71
$verdant-green:    rgb(17, 209, 22);   // #11d116
$icon-blue:        rgb(29, 153, 243);  // #1d99f3

$text-color: darken($paper-white, 25%);
$shadow-color: rgba(0, 0, 0, 0.7);

$ui-separator-color: darken($charcoal-grey, 3%);
$ui-shadow-out: 1px 1px 1px $shadow-color,
                2px 2px 2px $shadow-color,
                0 0 2px $shadow-color,
                0 0 3px $shadow-color;
$ui-shadow-in: 1px 1px 1px $shadow-color inset,
               2px 2px 2px $shadow-color inset,
               0 0 2px $shadow-color inset;
$ui-border-radius: 0.3rem;

%ui-input-element {
  border: {
    radius: $ui-border-radius;
    width: 0;
  }
  color: $text-color;
  padding: 0.3rem 0.6rem;
  transition: background-color 0.2s linear;

  &:hover {
    background-color: lighten($shade-black, 3%);
  }
}

%ui-input-text {
  @extend %ui-input-element;
  background-color: darken($shade-black, 2.5%);
  box-shadow: $ui-shadow-in;
}

%ui-input-click {
  @extend %ui-input-element;
  background-color: darken($shade-black, 2%);
  box-shadow: $ui-shadow-out;
  box-sizing: border-box;
  display: flex;
  font-family: sans-serif;
  font-size: 0.8em;
  justify-content: center;
  line-height: normal;
  text-decoration: none;
}

%ui-modal {
  background-color: $charcoal-grey;
  border: {
    radius: $ui-border-radius;
    width: 0;
  }
  color: $text-color;
  padding: 0.3rem 0.6rem;

  > .header,
  > .content,
  > .actions {
    background-color: inherit;
    color: inherit;
  }

  > .header {
    border-bottom-color: $ui-separator-color;
  }

  > .actions {
    border-top-color: $ui-separator-color;
  }

  .button {
    @extend %ui-input-click;
    display: inline-block;
  }
}

%ui-section {
  background-color: $shade-black;
  border: {
    radius: $ui-border-radius;
    width: 0;
  }
  box-shadow: $ui-shadow-out;
}


@mixin button {
  @extend %ui-input-click;
}

@mixin input {
  @extend %ui-input-text;

  &:focus {
    background-color: lighten($shade-black, 2%);
  }
}

@mixin list {
  display: flex;
  flex-direction: column;
  padding: 0;

  li {
    display: flex;
    justify-content: space-between;
    list-style-type: none;

    &:not(:last-child) {
      border-bottom: 1px solid $ui-separator-color;
    }
  }
}

@mixin section {
  @extend %ui-section;
}

@mixin modal {
  @extend %ui-modal;
}
